<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/anurag.png" alt="cat profile" />
<p>
  I’m Anurag Bhonsle — a 22-year-old dev from India on a mission to level up in
  every area of life. I write clean front-end code with React, style it with
  finesse, and hook it up to a Node.js + Express. Craft backend APIs, build
  full-stack apps, and get my hands dirty with EJS, MongoDB, and more. Solve DSA
  problems in C++, because I like keeping my logic sword sharp. 🌟
</p>

<%- include("partials/footer.ejs") %>
