<%- include("partials/header.ejs") %>

<h1>Hey 🌟</h1>

<p>
  I’m Anurag — a 22-year-old dev from India who’s into web development, DSA in
  C++, and learning Japanese on the side (thanks, anime). I mostly work with
  React, Node.js, and Express, and I’ve been on a mission to level up every day
  — whether it’s coding projects, morning Bible sessions, or just getting better
  sleep and clean meals.
</p>
<P>
  I speak English, Hindi, Marathi, and sometimes even talk to my compiler when
  things break. Just out here building cool stuff and becoming the best version
  of myself, one line of code at a time. I’m not just learning to code — I’m
  learning to live with discipline, purpose, and faith. Every project is part of
  my story. Every step is for something bigger.
</P>

<%- include("partials/footer.ejs") %>
